# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\教学案例\案例\Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
